:root {
  --branco: #FFFFFF;

  --alvo: #C2CAD8;
  --tiktok: #80898E;
  --albugineo: #A4B2C2;

  --niveo: #CCCCCC;
  --nevado: #E7ECF1;
  --caucasio: #FAFAFA;
  --whatsapp: #E9EDEF;
  --caucasico: #F5F5F5;
  --caucasoide: #DDDDDD;
  --caucasiano: #EEF1F5;
  --alabastrino: #EEEEEE;

  --bordeaux: #A32D2D;

  --blue-chambray: #2C3E50;

  --viridente: #00DB0B;
  --verdejante: #00A808;

  --borralha: #4E4E4E;
  --deslavado: #555555;
  --alvacento: #333333;
}

html, body, #root {
  min-height: 100%;

  flex-direction: column;
  display: flex;
  flex: 1;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.red-dwarf-star-nasa { color: red; }

.loading {
  width: 24px !important;
  height: 24px !important;
}