.acordeao { margin-bottom: 4px; }

.acordeao .acordeao-sumario > .MuiAccordionSummary-content {
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  display: flex;
}

.acordeao .acordeao-sumario p {
  font-weight: bold;
  font-size: medium;
}

.acordeao .acordeao-sumario svg {
  width:  16px;
  height: 16px;

  fill: var(--albugineo);
}