.bottom-tab-navigator {
  background-color: var(--bordeaux);
  
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
  display: flex;
  
  box-sizing: border-box;
  position: fixed;
  bottom: 0;
  
  min-height: 64px;
  width: 100%;
}

.bottom-tab-navigator .tab {
  text-decoration: none;
  color: var(--branco);
  
  justify-content: center;
  flex-direction: column;
  align-items: center;
  display: flex;
  flex: 1;

  height: 64px;
  
  text-transform: uppercase;
  font-size: small;
}

.bottom-tab-navigator .tab svg {
  width: 24px;
  height: 24px;

  fill: var(--branco);

  margin-bottom: 4px;
}